
.top-container{
        line-height: 75px;
        justify-content: space-between;
        background-color: mediumblue;
        color: white;
        font-weight: bold;
    }
.header-image{
        height: 75px;
        float: right;
    }
    .link{
        color: white;
    }
.bottom-container{
    line-height: 75px;
    justify-content: space-between;
    background-color: mediumblue;
    color: white;
    font-weight: bold;
    }